# Backend (Spring Boot)
/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/logs/

# Frontend (Angular)
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.idea/

# OS files
.DS_Store
Thumbs.db
