<div class="form-group autocomplete-wrapper">
  <label class="form-label">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <input
    type="text"
    class="form-control"
    [placeholder]="placeholder"
    [(ngModel)]="searchText"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  <div class="autocomplete-panel" *ngIf="isOpen && filteredItems.length > 0">
    <div
      class="autocomplete-item"
      *ngFor="let item of filteredItems"
      (mousedown)="onSelect(item)"
    >
      {{ getDisplayValue(item) }}
    </div>
  </div>
</div>

